In [48]:
import pandas as pd

day = pd.read_csv('day.csv')
hour = pd.read_csv('hour.csv')

In [49]:
day

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [50]:
hour

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [51]:
day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [52]:
hour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [53]:
day = day[['dteday','holiday','weekday','weathersit','temp','hum','windspeed','cnt','season']]
day

,dteday,holiday,weekday,weathersit,temp,hum,windspeed,cnt,season
0,2011-01-01,0,6,2,0.344167,0.805833,0.160446,985,1
1,2011-01-02,0,0,2,0.363478,0.696087,0.248539,801,1
2,2011-01-03,0,1,1,0.196364,0.437273,0.248309,1349,1
3,2011-01-04,0,2,1,0.200000,0.590435,0.160296,1562,1
4,2011-01-05,0,3,1,0.226957,0.436957,0.186900,1600,1
...,...,...,...,...,...,...,...,...,...
726,2012-12-27,0,4,2,0.254167,0.652917,0.350133,2114,1
727,2012-12-28,0,5,2,0.253333,0.590000,0.155471,3095,1
728,2012-12-29,0,6,2,0.253333,0.752917,0.124383,1341,1
729,2012-12-30,0,0,1,0.255833,0.483333,0.350754,1796,1
730,2012-12-31,0,1,2,0.215833,0.577500,0.154846,2729,1

In [54]:
day['dteday'] = pd.to_datetime(day['dteday'], format='%Y-%m-%d')
day.dtypes

C:\Users\loren\AppData\Local\Temp\ipykernel_11736\1758549569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day['dteday'] = pd.to_datetime(day['dteday'], format='%Y-%m-%d')

dteday        datetime64[ns]
holiday                int64
weekday                int64
weathersit             int64
temp                 float64
hum                  float64
windspeed            float64
cnt                    int64
season                 int64
dtype: object

In [55]:
day['temp'] = day['temp'] * 41
day['hum'] = day['hum'] * 100
day['windspeed'] = day['windspeed'] * 67
day

C:\Users\loren\AppData\Local\Temp\ipykernel_11736\3668493485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day['temp'] = day['temp'] * 41
C:\Users\loren\AppData\Local\Temp\ipykernel_11736\3668493485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day['hum'] = day['hum'] * 100
C:\Users\loren\AppData\Local\Temp\ipykernel_11736\3668493485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day['windspeed'] = day['windspeed'] * 67

,dteday,holiday,weekday,weathersit,temp,hum,windspeed,cnt,season
0,2011-01-01,0,6,2,14.110847,80.5833,10.749882,985,1
1,2011-01-02,0,0,2,14.902598,69.6087,16.652113,801,1
2,2011-01-03,0,1,1,8.050924,43.7273,16.636703,1349,1
3,2011-01-04,0,2,1,8.200000,59.0435,10.739832,1562,1
4,2011-01-05,0,3,1,9.305237,43.6957,12.522300,1600,1
...,...,...,...,...,...,...,...,...,...
726,2012-12-27,0,4,2,10.420847,65.2917,23.458911,2114,1
727,2012-12-28,0,5,2,10.386653,59.0000,10.416557,3095,1
728,2012-12-29,0,6,2,10.386653,75.2917,8.333661,1341,1
729,2012-12-30,0,0,1,10.489153,48.3333,23.500518,1796,1
730,2012-12-31,0,1,2,8.849153,57.7500,10.374682,2729,1

In [56]:
day['dteday'] = pd.to_datetime(day['dteday'])

day['weekday'] = day['dteday'].dt.day_name()

C:\Users\loren\AppData\Local\Temp\ipykernel_11736\2364161272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day['dteday'] = pd.to_datetime(day['dteday'])
C:\Users\loren\AppData\Local\Temp\ipykernel_11736\2364161272.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day['weekday'] = day['dteday'].dt.day_name()

In [57]:
day.head()

,dteday,holiday,weekday,weathersit,temp,hum,windspeed,cnt,season
0,2011-01-01,0,Saturday,2,14.110847,80.5833,10.749882,985,1
1,2011-01-02,0,Sunday,2,14.902598,69.6087,16.652113,801,1
2,2011-01-03,0,Monday,1,8.050924,43.7273,16.636703,1349,1
3,2011-01-04,0,Tuesday,1,8.200000,59.0435,10.739832,1562,1
4,2011-01-05,0,Wednesday,1,9.305237,43.6957,12.522300,1600,1

In [58]:
day['season'] = day['season'].map({1: 'winter', 2: 'spring', 3:'summer',4 : 'fall'})
day

C:\Users\loren\AppData\Local\Temp\ipykernel_11736\992339794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day['season'] = day['season'].map({1: 'winter', 2: 'spring', 3:'summer',4 : 'fall'})

,dteday,holiday,weekday,weathersit,temp,hum,windspeed,cnt,season
0,2011-01-01,0,Saturday,2,14.110847,80.5833,10.749882,985,winter
1,2011-01-02,0,Sunday,2,14.902598,69.6087,16.652113,801,winter
2,2011-01-03,0,Monday,1,8.050924,43.7273,16.636703,1349,winter
3,2011-01-04,0,Tuesday,1,8.200000,59.0435,10.739832,1562,winter
4,2011-01-05,0,Wednesday,1,9.305237,43.6957,12.522300,1600,winter
...,...,...,...,...,...,...,...,...,...
726,2012-12-27,0,Thursday,2,10.420847,65.2917,23.458911,2114,winter
727,2012-12-28,0,Friday,2,10.386653,59.0000,10.416557,3095,winter
728,2012-12-29,0,Saturday,2,10.386653,75.2917,8.333661,1341,winter
729,2012-12-30,0,Sunday,1,10.489153,48.3333,23.500518,1796,winter
730,2012-12-31,0,Monday,2,8.849153,57.7500,10.374682,2729,winter

In [59]:
day.to_csv('day_clean.csv')

In [61]:
features = ['holiday', 'weathersit', 'temp','hum','windspeed']
features

['holiday', 'weathersit', 'temp', 'hum', 'windspeed']

In [62]:
train_df = day[day['dteday'].dt.year == 2011]

In [63]:
train_X = train_df[features]
train_X

     holiday  weathersit       temp      hum  windspeed
0          0           2  14.110847  80.5833  10.749882
1          0           2  14.902598  69.6087  16.652113
2          0           1   8.050924  43.7273  16.636703
3          0           1   8.200000  59.0435  10.739832
4          0           1   9.305237  43.6957  12.522300
..       ...         ...        ...      ...        ...
360        0           2  13.325000  76.2500  12.626150
361        0           1  12.264330  50.3913  19.695387
362        0           1  10.181653  57.4167   8.000604
363        0           1  12.778347  63.6667   9.000579
364        0           1  16.810000  61.5833  14.750318

[365 rows x 5 columns]

In [64]:
train_y = train_df['cnt']

In [69]:
!pip install scikit-learn

ERROR: Could not install packages due to an OSError: [WinError 32] Le processus ne peut pas accéder au fichier car ce fichier est utilisé par un autre processus: 'c:\\Users\\loren\\Desktop\\code\\streamlit\\streamlit\\Lib\\site-packages\\sklearn\\cluster\\tests\\test_birch.py'
Check the permissions.

Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp311-cp311-win_amd64.whl (8.3 MB)
     ---------------------------------------- 0.0/8.3 MB ? eta -:--:--
     - -------------------------------------- 0.2/8.3 MB 7.0 MB/s eta 0:00:02
     --- ------------------------------------ 0.8/8.3 MB 9.8 MB/s eta 0:00:01
     ----- ---------------------------------- 1.2/8.3 MB 9.7 MB/s eta 0:00:01
     ------- -------------------------------- 1.5/8.3 MB 8.8 MB/s eta 0:00:01
     -------- ------------------------------- 1.8/8.3 MB 8.3 MB/s eta 0:00:01
     ---------- ----------------------------- 2.1/8.3 MB 8.0 MB/s eta 0:00:01
     ------------ --------------------------- 2.5/8.3 MB 8.0 MB/s eta 0:00:01
     -------------- ------------------------- 2.9/8.3 MB 8.1 MB/s eta 0:00:01
     --------------- ------------------------ 3.3/8.3 MB 8.0 MB/s eta 0:00:01
     ----------------- ---------------------- 3.6/8.3 MB 7.9 MB/s eta 0:00:01
     ------------------ --------------------- 3.9/8.3 MB 7.7 MB/s eta 0:00:01
     -------------------- ------------------- 4.2/8.3 MB 7.7 MB/s eta 0:00:01
     --------------------- ------------------ 4.4/8.3 MB 7.4 MB/s eta 0:00:01
     ---------------------- ----------------- 4.5/8.3 MB 7.1 MB/s eta 0:00:01
     ---------------------- ----------------- 4.6/8.3 MB 6.6 MB/s eta 0:00:01
     ---------------------- ----------------- 4.7/8.3 MB 6.5 MB/s eta 0:00:01
     ----------------------- ---------------- 4.8/8.3 MB 6.2 MB/s eta 0:00:01
     ------------------------ --------------- 5.0/8.3 MB 6.0 MB/s eta 0:00:01
     ------------------------- -------------- 5.2/8.3 MB 5.9 MB/s eta 0:00:01
     -------------------------- ------------- 5.4/8.3 MB 5.8 MB/s eta 0:00:01
     -------------------------- ------------- 5.6/8.3 MB 5.8 MB/s eta 0:00:01
     ---------------------------- ----------- 5.8/8.3 MB 5.7 MB/s eta 0:00:01
     ---------------------------- ----------- 6.0/8.3 MB 5.6 MB/s eta 0:00:01
     ----------------------------- ---------- 6.2/8.3 MB 5.6 MB/s eta 0:00:01
     ------------------------------- -------- 6.4/8.3 MB 5.5 MB/s eta 0:00:01
     ------------------------------- -------- 6.6/8.3 MB 5.5 MB/s eta 0:00:01
     -------------------------------- ------- 6.8/8.3 MB 5.4 MB/s eta 0:00:01
     --------------------------------- ------ 7.0/8.3 MB 5.4 MB/s eta 0:00:01
     ---------------------------------- ----- 7.2/8.3 MB 5.3 MB/s eta 0:00:01
     ------------------------------------ --- 7.5/8.3 MB 5.4 MB/s eta 0:00:01
     ------------------------------------- -- 7.8/8.3 MB 5.4 MB/s eta 0:00:01
     -------------------------------------- - 8.0/8.3 MB 5.4 MB/s eta 0:00:01
     ---------------------------------------  8.3/8.3 MB 5.4 MB/s eta 0:00:01
     ---------------------------------------- 8.3/8.3 MB 5.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\loren\desktop\code\streamlit\streamlit\lib\site-packages (from scikit-learn) (1.24.2)
Collecting scipy>=1.3.2
  Using cached scipy-1.10.1-cp311-cp311-win_amd64.whl (42.2 MB)
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Collecting scikit-learn
  Using cached scikit_learn-1.2.2-cp311-cp311-win_amd64.whl (8.3 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\loren\desktop\code\streamlit\streamlit\lib\site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\loren\desktop\code\streamlit\streamlit\lib\site-packages (from scikit-learn) (1.10.1)
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\loren\desktop\code\streamlit\streamlit\lib\site-packages (from scikit-learn) (3.1.0)
Installing collected packages: joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.2

In [73]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

model.fit(train_X, train_y)

RandomForestRegressor()

In [74]:
!pip install joblib

Requirement already satisfied: joblib in c:\users\loren\desktop\code\streamlit\streamlit\lib\site-packages (1.2.0)

In [75]:
from joblib import dump

dump(model, 'model_rf_2011.joblib')

['model_rf_2011.joblib']